<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/img/logo_Color_IES.png" alt="Logo">
            </div>
            <div class="menu-container">
                <div class="menu-toggle">☰</div>
                <nav>
                    <ul>
                        <li><a href="/api/v1/home/main">Inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a id="userListLink" href="/api/v1/users/admin/userlist">Listado de Usuarios</a></li> 
                        <li><a id="empresasListLink" href="/api/v1/empresas/admin/companylist">Listado de Empresas</a></li> 
                        <li><a id="vincularLink" href="/api/v1/empresas/linkStudents">Vincular alumnos con empresas</a></li>
                        <li><a id="contactoLink" href="/api/v1/home/contact">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="user">
                <img id="userImage" src="#" alt="Usuario">
                <ul class="dropdown" id="userDropdown"> 
                    <li><a href="#">Detalles</a></li>
                    <li>
                        <form id="logoutForm" action="/api/v1/auth/logout" method="post"> 
                            <button type="submit" id="logoutButton">Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Contenido principal,Muchas cosas por modificar todavia,ENCONTRAR FALLO DE ACTUALIZAR -->
    <!-- Contenido principal -->
    <main>
        <div class="container">
            <h1>Editar Usuario</h1>
            <form id="editForm" action="/api/v1/users/<%= usuario._id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Nombre de Usuario:</label>
                    <input type="text" id="username" name="username" value="<%= usuario.username %>" required>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña nueva:</label>
                    <input type="password" id="password" name="password">
                    <i class="fa fa-eye" id="togglePassword"></i>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirmar Contraseña:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                    <i class="fa fa-eye" id="toggleConfirmPassword"></i>
                </div>

                <div class="form-group">
                    <label for="firstName">Nombre:</label>
                    <input type="text" id="firstName" name="firstName" value="<%= usuario.firstName %>" required>
                </div>

                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="direccion" value="<%= usuario.direccion %>" required>
                </div>

                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" value="<%= usuario.email %>" required>
                </div>

                <div class="form-group">
                    <label for="picture">Imagen de Perfil (Opcional):</label>
                    <div class="avatar-container">
                        <% if (usuario.picture) { %>
                            <img src="data:image/png;base64,<%= usuario.picture %>" alt="Imagen actual" id="avatarImage">
                        <% } else { %>
                            <img src="/img/avatar-default-symbolic.svg" alt="Avatar predeterminado" id="avatarImage">
                        <% } %>
                        <input type="file" name="picture" id="avatarInput" accept="image/*" style="display: none;">
                    </div>
                </div>

                <label for="roles">Roles:</label>
                    <select name="roles" id="roles">
                    <option value="admin">ADMIN</option>
                    <option value="profesor">PROFESOR</option>
                    <option value="alumno" selected>ALUMNO</option>
                </select>

                <div class="form-group">
                    <button type="submit" class="btn">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </main>

    <!-- Pie de página -->
    <footer>
        <div class="footer-column">
            <ul>
                <li><a href="#">Legal Warning</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Quality Policy</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="/img/logo_Color_IES.png" alt="Logo">
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Número de Teléfono</a></li>
                <li><a href="#">Ubicación: Calle Falsa 123, Ciudad Ficticia</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- JavaScript -->
    <script>
        document.getElementById('editForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const formData = new FormData(this);
            const url = this.action;
            const method = this.method.toUpperCase();

            try {
                const response = await fetch(url, {
                    method: method,
                    body: formData
                });

                const data = await response.json();

                if (!response.ok) {
                   
                    throw new Error(data.message);
                }

                // Show success message using SweetAlert
                swal("Éxito", "Usuario editado correctamente", "success")
                .then(() => {
                    // Redirect to user view page after closing SweetAlert
                    window.location.href = data.redirect;
                });
            } catch (error) {
                if (error.message.includes("duplicate key error collection")) {
                    swal("Error", "Nombre de usuario/email ya existente, por favor prueba otro", "error");
                } else {
                    swal("Error", error.message, "error");
                }
            }
        });
    </script>
    <script>
        // Script para mostrar y ocultar la contraseña
        document.getElementById('togglePassword').addEventListener('click', function() {
            const passwordInput = document.getElementById('password');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        document.getElementById('toggleConfirmPassword').addEventListener('click', function() {
            const confirmPasswordInput = document.getElementById('confirmPassword');
            const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordInput.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        // Script para previsualizar la imagen de perfil
        document.getElementById('avatarInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('avatarImage').src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('avatarImage').addEventListener('click', function() {
            document.getElementById('avatarInput').click();
        });
    </script>
    <script src="/js/getPhoto.js"></script>
    <script src="/js/getRole.js"></script>
    <script src="/js/navBar.js"></script>
    <script src="/js/logout.js"></script>


</body>
</html>