<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/listUsers.css">

    <style>
        
    </style>
</head>
<body>
    <!-- Cabecera -->
    <header>
        <div class="logo">
            <img src="/img/logo_Color_IES.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/api/v1/home/main">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="/api/v1/users/admin/userlist">Listado de Usuarios</a></li> 
                <li><a href="/api/v1/empresas/admin/companylist">Listado de Empresas</a></li> 
                <li><a href="/api/v1/empresas/linkStudents">Vincular alumnos con empresas</a></li>
                <li><a id="contactoLink" href="/api/v1/home/contact">Contacto</a></li>
            </ul>
        </nav>
        <div class="user">
            <img id="userImage" src="#" alt="Usuario">
            <ul class="dropdown" id="userDropdown">
                <li><a href="#">Detalles</a></li>
                <li>
                    <form id="logoutForm" action="/api/v1/auth/logout" method="post">
                        <button type="submit" id="logoutButton">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </header>

    <!-- Contenido principal -->
    <main>
        <h1>Lista de Usuarios</h1>
        <button class="create-icon"><a href="/api/v1/users/admin/users/new"><i class="fa-solid fa-plus"></i></a></button>

        <table id="dataTable0" class="visible">
            <thead>
                <tr>
                    <th onclick="sortTable(0)" class="sorted-asc">Fecha de Creación <i class="fa-solid fa-sort fa-xs"></i></th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo Electrónico</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.slice(0, 10).forEach((usuario, index) => { %>
                    <tr>
                        <td><%= usuario.createdAt.toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></td>
                        <td><%= usuario.firstName %></td>
                        <td><%= usuario.username %></td>
                        <td><%= usuario.email %></td>
                        <td><a href="/api/v1/users/<%= usuario._id %>/edit"><i class="fa-solid fa-edit"></i></a></td>
                        <td>
                            <button style="background: none; border: none; cursor: pointer;" onclick="openPopup('<%= usuario._id %>')"><i class="fa-solid fa-trash"></i></button>
                        </td>
                        <td><a href="/api/v1/users/<%= usuario._id %>/view"><i class="fa-solid fa-eye"></i></a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% const totalPages = Math.ceil(usuarios.length / 10); %>
        <% for (let i = 1; i < totalPages; i++) { %>
            <table id="dataTable<%= i %>" class="hidden">
                <thead>
                    <tr>
                        <th onclick="sortTable(<%= i %>)">Fecha de Creación <i class="fa-solid fa-sort fa-xs"></i></th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Correo Electrónico</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.slice(i * 10, (i + 1) * 10).forEach(usuario => { %>
                        <tr>
                            <td><%= usuario.createdAt %></td>
                            <td><%= usuario.firstName %></td>
                            <td><%= usuario.username %></td>
                            <td><%= usuario.email %></td>
                            <td><a href="/api/v1/users/<%= usuario._id %>/edit"><i class="fa-solid fa-edit"></i></a></td>
                            <td>
                                <button style="background: none; border: none; cursor: pointer;" onclick="openPopup('<%= usuario._id %>')"><i class="fa-solid fa-trash"></i></button>
                            </td>
                            <td><a href="/api/v1/users/<%= usuario._id %>/view"><i class="fa-solid fa-eye"></i></a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
        <div class="pagination">
            
            <% for (let i = 0; i < totalPages; i++) { %>
                <a href="#" class="page-link" onclick="changeTable(<%= i %>)"><%= i + 1 %></a>
            <% } %>
        </div>
    </main>

     <!-- Pop-up para confirmar el borrado,estara oculto hasta que se haga click en el icono de borrado-->
     <div id="popup" class="popup-container">
        <div class="popup-content">
            <h2>¿Estás seguro de que quieres borrar este usuario?</h2>
            <div class="popup-buttons">
                <button class="primary" onclick="confirmDelete()">Sí</button>
                <button class="secondary" onclick="closePopup()">No</button>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <footer>
        <div class="footer-column">
            <ul>
                <li><a href="#">Legal Warning</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Quality Policy</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="/img/logo_Color_IES.png" alt="Logo">
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Número de Teléfono</a></li>
                <li><a href="#">Ubicación: Calle Falsa 123, Ciudad Ficticia</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script>
        let currentPage = 0; // Variable para almacenar la página actual
    
        function sortTable(tableIndex) {
            const table = document.getElementById(`dataTable${tableIndex}`);
            const sortIcon = table.querySelector('.fa-sort');
            const asc = table.classList.contains('sorted-asc');
            const sortedIcon = asc ? table.querySelector('.fa-sort-up') : table.querySelector('.fa-sort-down');
    
            const rows = Array.from(table.rows).slice(1); // Ignorar la primera fila (encabezado)
            const sortedRows = rows.sort((a, b) => {
                const aDate = new Date(a.cells[0].textContent);
                const bDate = new Date(b.cells[0].textContent);
                return asc ? aDate - bDate : bDate - aDate; // Ordenar según el orden ascendente o descendente
            });
    
            // Eliminar las filas existentes
            while (table.rows.length > 1) {
                table.deleteRow(1);
            }
    
            // Agregar las filas ordenadas de nuevo a la tabla
            sortedRows.forEach(row => {
                table.appendChild(row);
            });
    
            // Cambiar las clases de estilo para el ícono de orden
            table.classList.toggle('sorted-asc', !asc);
            table.classList.toggle('sorted-desc', asc);
            sortIcon.style.display = 'inline-block'; // Mostrar el icono de sort
            sortedIcon.style.display = 'inline-block'; // Mostrar el icono de orden
        }
    
        function changeTable(page) {
            const previousTable = document.getElementById(`dataTable${currentPage}`);
            const currentTable = document.getElementById(`dataTable${page}`);
    
            previousTable.classList.add('hidden');
            currentTable.classList.remove('hidden');
    
            currentPage = page;
        }

    </script>

<script>
    function openPopup(userId) {
        // Abre el pop-up
        document.getElementById('popup').style.display = 'block';
        // Guarda el ID del usuario en un atributo data
        document.getElementById('popup').setAttribute('data-user-id', userId);
    }

    function closePopup() {
        // Cierra el pop-up
        document.getElementById('popup').style.display = 'none';
    }

    function confirmDelete() {
        // Obtiene el ID del usuario desde el atributo data
        const userId = document.getElementById('popup').getAttribute('data-user-id');
        // Realiza la petición de borrado
        fetch(`/api/v1/users/admin/users/${userId}?_method=DELETE`, {
            method: 'POST'
        })
        .then(response => {
            if (response.ok) {
                // Si la respuesta es exitosa, recarga la página
                location.reload();
            } else {
                // Si hay algún error, muestra un mensaje de error
                console.error('Error al borrar el usuario');
            }
        })
        .catch(error => {
            console.error('Error al borrar el usuario:', error);
        });
        // Cierra el pop-up
        closePopup();
    }
</script>
<script src="/js/getPhoto.js"></script>
<script src="/js/getRole.js"></script>
</body>
</html>